<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ui.stdu.com.localbroadcasttest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GridLayout"
            android:label="@string/title_activity_grid_layout"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TextView"
            android:label="@string/title_activity_text_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditText"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Chronometer"
            android:label="@string/title_activity_chronometer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListView"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AutoCompleteTextView"
            android:label="@string/title_activity_auto_complete_text_view"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".GridView"
            android:label="@string/title_activity_grid_view"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
